<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatMessage">
            <h2><span>Chat Message</span> {{chatMessage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{chatMessage.content}}</span>
                </dd>
                <dt><span>Chat Discussion Id</span></dt>
                <dd>
                    <span>{{chatMessage.chatDiscussionId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-message', chatMessage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
