<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatDiscussion">
            <h2><span>Chat Discussion</span> {{chatDiscussion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{chatDiscussion.title}}</span>
                </dd>
                <dt><span>Trip</span></dt>
                <dd>
                    <span>{{chatDiscussion.trip}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-discussion', chatDiscussion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
