<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userInfo">
            <h2><span>User Info</span> {{userInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{userInfo.description}}</span>
                </dd>
                <dt><span>Birth Day</span></dt>
                <dd>
                    <span>{{userInfo.birthDay}}</span>
                </dd>
                <dt><span>Job</span></dt>
                <dd>
                    <span>{{userInfo.job}}</span>
                </dd>
                <dt><span>Favorite Artist</span></dt>
                <dd>
                    <span>{{userInfo.favoriteArtist}}</span>
                </dd>
                <dt><span>Favorite Book</span></dt>
                <dd>
                    <span>{{userInfo.favoriteBook}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{userInfo.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-info', userInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
