<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-user-info-heading">Create or edit a User Info</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!userInfo.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="userInfo.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="userInfo.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDay">Birth Day</label>
                    <div class="input-group">
                        <input id="field_birthDay" type="text" class="form-control" name="birthDay" ngbDatepicker  #birthDayDp="ngbDatepicker" [(ngModel)]="userInfo.birthDay"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDayDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_job">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job"
                        [(ngModel)]="userInfo.job" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_favoriteArtist">Favorite Artist</label>
                    <input type="text" class="form-control" name="favoriteArtist" id="field_favoriteArtist"
                        [(ngModel)]="userInfo.favoriteArtist" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_favoriteBook">Favorite Book</label>
                    <input type="text" class="form-control" name="favoriteBook" id="field_favoriteBook"
                        [(ngModel)]="userInfo.favoriteBook" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="userInfo.userId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
