<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span>Post</span> {{post.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Post Title</span></dt>
                <dd>
                    <span>{{post.postTitle}}</span>
                </dd>
                <dt><span>Post Contents</span></dt>
                <dd>
                    <span>{{post.postContents}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <span>{{post.owner}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/post', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
