<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-post-heading">Create or edit a Post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!post.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="post.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postTitle">Post Title</label>
                    <input type="text" class="form-control" name="postTitle" id="field_postTitle"
                        [(ngModel)]="post.postTitle" required minlength="2"/>
                    <div [hidden]="!(editForm.controls.postTitle?.dirty && editForm.controls.postTitle?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.postTitle?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.postTitle?.errors?.minlength">
                        This field is required to be at least 2 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_postContents">Post Contents</label>
                    <input type="text" class="form-control" name="postContents" id="field_postContents"
                        [(ngModel)]="post.postContents" required/>
                    <div [hidden]="!(editForm.controls.postContents?.dirty && editForm.controls.postContents?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.postContents?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_owner">Owner</label>
                    <input type="text" class="form-control" name="owner" id="field_owner"
                        [(ngModel)]="post.owner" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
