<div [ngSwitch]="isAuthenticated()">
    <div *ngSwitchCase="false">
        <div>
            <router-outlet name="app-navbar"></router-outlet>
        </div>
        <div class="container-fluid">
            <div class="card jh-card">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
    <div *ngSwitchCase="true">
        <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
            <jhi-page-ribbon></jhi-page-ribbon>
            <div>
                <router-outlet name="navbar"></router-outlet>
            </div>
            <div class="container-fluid">
                <div class="card jh-card">
                    <router-outlet></router-outlet>
                    <router-outlet name="popup"></router-outlet>
                </div>
                <jhi-footer></jhi-footer>
            </div>
        </div>

        <div *jhiHasAnyAuthority="['ROLE_CLIENT', 'ROLE_PRO']">
            <div>
                <router-outlet name="app-navbar"></router-outlet>
            </div>
            <div class="container-fluid">
                <div class="card jh-card">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>
