<div class="d-flex flex-row border rounded" style="margin-bottom: 5px">
    <div class="p-0 w-25">
        <img  src="{{user.imageUrl}}" class="img-thumbnail border-0" />

    </div>
    <div class="pl-3 pt-2 pr-2 pb-2 w-75 border-left">
        <h4>{{user.login}}</h4>
        <h5>{{user.firstName}} {{user.lastName}}</h5>
        <p class="text-right m-0"><a href="#" class="btn btn-primary"><i class="far fa-user"></i> View Profile</a></p>
    </div>
</div>
