<section class="container-fluid trip-info">
    <div class="two-columns row">
        <div class="col col-md-6">
            <img
                src="{{trip.image}}"
                itemprop="image" alt="" height="1149" width="960"
                style="width: 1017px; height: 678px; margin-top: 0px">
        </div>
        <div class="col col-md-6 text-col">
            <div class="holder">
                <h1 class="small-size" itemprop="name">{{trip.title}}</h1>
                <div class="price">
                    from <strong itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
                    <span itemprop="priceCurrency">$</span><span itemprop="lowPrice">{{trip.aproxPrice}}</span></strong>
                </div>
                <div class="description" itemprop="description">
                    <p>{{trip.description}}</p>
                </div>
                <ul class="reviews-info">
                    <li itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                        <div class="info-right">
                            <div class="star-rating">
                                <div class="average_rateYo jq-ry-container" readonly="readonly"
                                     style="width: 83px;">
                                    <div class="jq-ry-group-wrapper">
                                        <div class="jq-ry-normal-group jq-ry-group">
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="gray"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="gray" style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="gray" style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="gray" style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="gray" style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                        </div>
                                        <div class="jq-ry-rated-group jq-ry-group" style="width: 100%;">
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="#f39c12"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="#f39c12"
                                                 style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="#f39c12"
                                                 style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="#f39c12"
                                                 style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve"
                                                 width="15px" height="15px" fill="#f39c12"
                                                 style="margin-left: 2px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="value" itemprop="ratingValue">5/5</span>
                        </div>
                    </li>
                    <li>
                        <div class="info-left">
                            <strong class="title">Vacation Style</strong>
                            <span class="value"><strong>Holiday Type</strong></span>
                        </div>
                        <div class="info-right">
                            <span *ngFor="let cat of trip.categories" class="value">{{cat.name}} </span>
                        </div>
                    </li>
                    <li>
                        <div class="info-left">
                            <strong class="title">Creator</strong>
                        </div>
                        <div class="info-right">
                            <ul class="ico-list">
                                <li><span class="icon-level5"></span></li>
                            </ul>
                            <span class="value"><a href="">{{trip.ownerLogin}}</a></span>
                        </div>
                    </li>
                    <li>
                        <div class="info-left">
                            <strong class="title">Group Size</strong>
                            <span class="value" *ngIf="trip.size <= 3">Small Group</span>
                            <span class="value" *ngIf="trip.size > 4">Large Group</span>
                        </div>
                        <div class="info-right">
                            <ul class="ico-list">
                                <li><span class="icon-group-small"></span></li>
                            </ul>
                            <span class="value">{{trip.size}}</span></div>
                    </li>
                </ul>
                <div class="btn-holder">
                    <form class="cart" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="quantity" value="1" title="Qty" class="input-text qty text">
                        <input type="hidden" name="add-to-cart" value="627">
                        <input type="hidden" name="attribute_duration" value=""> <input type="hidden"
                                                                                        name="variation_id"
                                                                                        value="1164">
                        <a href="#tab06" class="btn btn-lg btn-info book_now_dates">Book Now</a></form>
                </div>
            </div>
        </div>
    </div>
</section>
<ngb-tabset>
    <ngb-tab title="Destination">
        <ng-template ngbTabContent>
            <p>{{trip.countryName}}</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Dates">
        <ng-template ngbTabContent>
            <ul>
                <li>{{trip.createdAt}}</li>
                <li>{{trip.updatedAt}}</li>
            </ul>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Membres">
        <ng-template ngbTabContent>
            <div class="container">
                <div class="row mb-3">
                    <div class="col-md-6" *ngFor="let user of trip.users;let i = index">
                        <app-user-card [user]="user"></app-user-card>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
<button type="submit"
        (click)="previousState()"
        class="btn btn-info">
    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
</button>
