<article class="article has-hover-s1">
    <div class="thumbnail" itemscope="" itemtype="http://schema.org/Product">
        <div class="img-wrap"><img width="550" height="158"
                                   style="width: 350px; height: 158px"
                                   src="{{trip.image}}"
                                   class="attachment-550x358 size-550x358 wp-post-image" alt=""
                                   itemprop="image">
            <div class="product-badge">
                <ul></ul>
            </div>
        </div>
        <h3 class="small-space"><a
            [routerLink]="['/voyages', trip.id, 'view' ]"
            itemprop="name">{{trip.title}}</a></h3> <span class="info">
                        <span *ngIf="trip.pro" class="badge badge-primary">Un voyage pro</span>

                            <span *ngFor="let category of trip.categories">{{category.name}} </span>

                         <aside class="meta"><span class="country"><span
                             class="icon-world"> </span>{{trip.size}} Place</span><p class="activity">Date de depart estimee: {{trip.periode}} </p></span></aside>
        <p>{{trip.description | slice:0:60 }} ...</p>
        <a [routerLink]="['/voyages', trip.id, 'view' ]"
           class="btn btn-default" itemprop="url">explore</a>

        <div *ngIf="!hasJoinedTrip(trip)">
            <button type="button" (click)="joinTrip(trip.id)" class="btn btn-secondary">Rejoindre</button>
        </div>

        <div *ngIf="trip.ownerLogin === currentUserLogin">
            <a [routerLink]="['/voyages', trip.id, 'edit' ]"
               class="btn btn-info" itemprop="url">Modifier</a>
        </div>
        <footer>
                            <span class="price"> from <span itemprop="offers" itemscope=""
                                                            itemtype="http://schema.org/Offer"><span
                                itemprop="priceCurrency">$</span><span
                                itemprop="price">{{trip.aproxPrice}}</span></span></span>
        </footer>
    </div>
</article>
