<div>
    <div class="container">
        <button type="button" [routerLink]="['/mes-conversation' ]" class="btn btn-primary">Convs
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trip"
                [routerLink]="['/new/trip']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down">
            Create new Trip
            </span>
        </button>
        <h2 id="page-heading">
            <span>Trips</span>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
            <div class="col-md-4 p-md-1" *ngFor="let trip of trips;let i = index">
                <app-trip-card [trip]="trip"></app-trip-card>
            </div>
        </div>

    </div>
</div>
