<div class="container-fluid layout-fluid">
    <div id="two-columns" class="row">
        <aside id="sidebar" class="col-md-4 col-lg-3 sidebar sidebar-list">
            <button (click)="refresh()">Refresh</button>
            <div *jhiHasAnyAuthority="['ROLE_CLIENT','ROLE_PRO']">
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trip"
                        [routerLink]="['/new/trip']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down">
            Create new Trip
            </span>
                </button>
            </div>
            <form (ngSubmit)="filter()">
                <div class="form-group">
                    <label for="size">Type de voyage</label>
                    <select class="form-control" id="type" name="type" [(ngModel)]="filterTrip.type">
                        <option></option>
                        <option value="ROLE_PRO">Pro</option>
                        <option value="ROLE_CLIENT">Client</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="size">Nombre de personnes</label>
                    <select class="form-control" id="size" name="size" [(ngModel)]="filterTrip.size">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option value="5">5 et plus</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="aproxPrice">Prix du voyage</label>
                    <select class="form-control" id="aproxPrice" name="aproxPrice" [(ngModel)]="filterTrip.aproxPrice">
                        <option></option>
                        <option value="1000">moins de 1000</option>
                        <option value="2000">De 1000 a 2000</option>
                        <option value="3000">De 2000 a 3000 </option>
                        <option value="4000">De 3000 a 4000</option>
                        <option value="5000">Plus de 5000</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="weeks">Durée du voyage</label>
                    <select class="form-control" id="weeks" name="weeks" [(ngModel)]="filterTrip.weeks">
                        <option></option>
                        <option>1 semaines</option>
                        <option>2 semaines</option>
                        <option>3 semaines</option>
                        <option>4 semaines</option>
                        <option>5 semaines</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="country">Durée du voyage</label>
                    <select class="form-control" id="country" name="country" [(ngModel)]="filterTrip.country">
                        <option></option>
                        <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </aside>
        <div id="content" class="col-md-8 col-lg-9">
            <jhi-alert></jhi-alert>
            <div class="row">
                <div class="col-sm-6 col-md-4 article" *ngFor="let trip of trips;let i = index">
                    <app-trip-card [trip]="trip"></app-trip-card>
                </div>
            </div>
            <div *ngIf="trips && trips.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                                    [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage"
                                    [maxSize]="5"
                                    [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

