<div>
    <h2 id="page-heading">
        <span>ChatDiscussion</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="chatDiscussions">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>title</span></th>
                <th><span>trip</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatDiscussion of chatDiscussions">
                <td>{{chatDiscussion.title}}</td>
                <td>{{chatDiscussion.trip}}</td>
                <button type="button" [routerLink]="['/conv', chatDiscussion.id, 'view' ]" class="btn btn-primary">More
                    info
                </button>
            </tr>
            </tbody>
        </table>
    </div>
</div>

