<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-comment-heading">Create or edit a Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!comment.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="comment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commentContents">Comment Contents</label>
                    <input type="text" class="form-control" name="commentContents" id="field_commentContents"
                        [(ngModel)]="comment.commentContents" required/>
                    <div [hidden]="!(editForm.controls.commentContents?.dirty && editForm.controls.commentContents?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.commentContents?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_post">Post</label>
                    <select class="form-control" id="field_post" name="post" [(ngModel)]="comment.post" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="postOption.id === comment.post?.id ? comment.post : postOption" *ngFor="let postOption of posts; trackBy: trackPostById">{{postOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
