<div>
    <h2 id="page-heading">
        <span>Offres      </span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="card" style="width: 18rem;" *ngFor="let offer of offers">
        <div class="card-body">
            <h5 class="card-title">{{offer.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">{{offer.price}}</p>
        </div>
    </div>

</div>
