<div>
    <h2 id="page-heading">
        <span>Advertisements</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="advertisements">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Advertisement Title</span></th>
                <th><span>Advertisement Image</span></th>
                <th><span>Owner</span></th>
                <th><span>Created At</span></th>
                <th><span>Updated At</span></th>
                <th><span>Expiration Date</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let advertisement of advertisements">
                <td>{{advertisement.advertisementTitle}}</td>
                <td>{{advertisement.advertisementImage}}</td>
                <td>{{advertisement.owner}}</td>
                <td>{{advertisement.createdAt | date:'mediumDate'}}</td>
                <td>{{advertisement.updatedAt | date:'mediumDate'}}</td>
                <td>{{advertisement.expirationDate | date:'mediumDate'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

