<footer id="footer">
    <div class="container">
        <form action="#" novalidate="" id="signup" method="post" class="newsletter-form">
            <fieldset>
                <div class="input-holder"><input type="email" name="subscriber_email" id="subscriber_email"
                                                 class="form-control" placeholder="Email Address"> <input type="submit"
                                                                                                          name="btn_submit"
                                                                                                          value="GO">
                </div>
                <span class="info" id="subscribe_message"> To receive news, updates and tour packages via email. </span>
            </fieldset>
        </form>
        <div class="row footer-holder">
            <nav class="col-sm-4 col-lg-2 footer-nav active"><h3 class="widget-title">About Entrada</h3>
                <div class="menu-about-entrada-container active">
                    <ul id="menu-about-entrada" class="menu">
                        <li id="menu-item-451"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a
                            href="https://themes.waituk.com/entrada-default/footer/about-entrada/the-company/">The
                            Company</a></li>
                        <li id="menu-item-457"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-457"><a
                            href="https://themes.waituk.com/entrada-default/footer/about-entrada/our-values/">Our
                            Values</a></li>
                        <li id="menu-item-467"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467"><a
                            href="https://themes.waituk.com/entrada-default/footer/about-entrada/responsibility/">Responsibility</a>
                        </li>
                        <li id="menu-item-468"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-468"><a
                            href="https://themes.waituk.com/entrada-default/footer/about-entrada/our-mission/">Our
                            Mission</a></li>
                        <li id="menu-item-469"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469"><a
                            href="https://themes.waituk.com/entrada-default/footer/about-entrada/opportunity/">Opportunity</a>
                        </li>
                        <li id="menu-item-470"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-470"><a
                            href="https://themes.waituk.com/entrada-default/footer/about-entrada/safety-concerns/">Safety
                            Concerns</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col-sm-4 col-lg-2 footer-nav"><h3 class="widget-title">Destinations</h3>
                <div class="menu-footer-destinations-container">
                    <ul id="menu-footer-destinations" class="menu"
                        style="position: absolute; top: -9999px; left: -9999px; width: 170px;">
                        <li id="menu-item-574"
                            class="menu-item menu-item-type-taxonomy menu-item-object-destination menu-item-574"><a
                            href="https://themes.waituk.com/entrada-default/destination/africa/netherlands/">Netherlands</a>
                        </li>
                        <li id="menu-item-576"
                            class="menu-item menu-item-type-taxonomy menu-item-object-destination menu-item-576"><a
                            href="https://themes.waituk.com/entrada-default/destination/asia/nepal/">Nepal</a></li>
                        <li id="menu-item-577"
                            class="menu-item menu-item-type-taxonomy menu-item-object-destination menu-item-577"><a
                            href="https://themes.waituk.com/entrada-default/destination/world/canada/">Canada</a></li>
                        <li id="menu-item-572"
                            class="menu-item menu-item-type-taxonomy menu-item-object-destination menu-item-572"><a
                            href="https://themes.waituk.com/entrada-default/destination/europe/france/">France</a></li>
                        <li id="menu-item-573"
                            class="menu-item menu-item-type-taxonomy menu-item-object-destination menu-item-573"><a
                            href="https://themes.waituk.com/entrada-default/destination/europe/germany/">Germany</a>
                        </li>
                        <li id="menu-item-575"
                            class="menu-item menu-item-type-taxonomy menu-item-object-destination menu-item-575"><a
                            href="https://themes.waituk.com/entrada-default/destination/europe/united-kingdom/">United
                            Kingdom</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col-sm-4 col-lg-2 footer-nav"><h3 class="widget-title">Themes</h3>
                <div class="menu-footer-activities-container">
                    <ul id="menu-footer-activities" class="menu"
                        style="position: absolute; top: -9999px; left: -9999px; width: 170px;">
                        <li id="menu-item-578"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-578"><a
                            href="https://themes.waituk.com/entrada-default/product-category/rural/">Rural</a></li>
                        <li id="menu-item-579"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-579"><a
                            href="https://themes.waituk.com/entrada-default/product-category/snow-ice/">Snow &amp;
                            Ice</a></li>
                        <li id="menu-item-580"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-580"><a
                            href="https://themes.waituk.com/entrada-default/product-category/wildlife-safari/">Wildlife
                            Safari</a></li>
                        <li id="menu-item-581"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-581"><a
                            href="https://themes.waituk.com/entrada-default/product-category/hunting-trip/">Hunting
                            Trip</a></li>
                        <li id="menu-item-582"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-582"><a
                            href="https://themes.waituk.com/entrada-default/product-category/desert/">Desert</a></li>
                        <li id="menu-item-583"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-583"><a
                            href="https://themes.waituk.com/entrada-default/product-category/mountain/">Mountain</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="col-sm-4 col-lg-2 footer-nav"><h3 class="widget-title">Reservation</h3>
                <div class="menu-footer-reservation-container">
                    <ul id="menu-footer-reservation" class="menu"
                        style="position: absolute; top: -9999px; left: -9999px; width: 170px;">
                        <li id="menu-item-596"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-596"><a
                            href="https://themes.waituk.com/entrada-default/footer/reservation/booking-conditions/">Booking
                            Conditions</a></li>
                        <li id="menu-item-597"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-597"><a
                            href="https://themes.waituk.com/entrada-default/footer/reservation/my-bookings/">My
                            Bookinws</a></li>
                        <li id="menu-item-598"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-598"><a
                            href="https://themes.waituk.com/entrada-default/footer/reservation/refund-policy/">Refund
                            Policy</a></li>
                        <li id="menu-item-599"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-599"><a
                            href="https://themes.waituk.com/entrada-default/footer/reservation/includes-excludes/">Includes
                            &amp; Excludes</a></li>
                        <li id="menu-item-600"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-600"><a
                            href="https://themes.waituk.com/entrada-default/footer/reservation/your-responsibilities/">Your
                            Responsibilities</a></li>
                        <li id="menu-item-601"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-601"><a
                            href="https://themes.waituk.com/entrada-default/footer/reservation/order-a-brochure/">Order
                            a Brochure</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col-sm-4 col-lg-2 footer-nav"><h3 class="widget-title">Ask Entrada</h3>
                <div class="menu-ask-entrada-container">
                    <ul id="menu-ask-entrada" class="menu"
                        style="position: absolute; top: -9999px; left: -9999px; width: 170px;">
                        <li id="menu-item-610"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a
                            href="https://themes.waituk.com/entrada-default/footer/ask-entrada/why-entrada/">Why
                            Entrada</a></li>
                        <li id="menu-item-611"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-611"><a
                            href="https://themes.waituk.com/entrada-default/footer/ask-entrada/ask-an-expert/">Ask an
                            Expert</a></li>
                        <li id="menu-item-612"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-612"><a
                            href="https://themes.waituk.com/entrada-default/footer/ask-entrada/we-help-when/">We Help
                            When</a></li>
                        <li id="menu-item-613"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-613"><a
                            href="https://themes.waituk.com/entrada-default/footer/ask-entrada/safety-updates/">Safety
                            Updates</a></li>
                        <li id="menu-item-616"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-616"><a
                            href="https://themes.waituk.com/entrada-default/footer/ask-entrada/personalised-service/">Personalised
                            Service</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col-sm-4 col-lg-2 footer-nav"><h3 class="widget-title">Contact Entrada</h3>
                <ul class="menu address-block" style="position: absolute; top: -9999px; left: -9999px; width: 170px;">
                    <li class="wrap-text"><span class="icon-tel"></span> <a href="tel:02072077878">(020) 72077878</a>
                    </li>
                    <li class="wrap-text"><span class="icon-fax"></span>(020) 72077878</li>
                    <li class="wrap-text"><span class="icon-email"></span> <a href="mailto:support@waituk.net">support@waituk.net</a>
                    </li>
                    <li><span class="icon-home"></span>
                        <address>707 London Road
                            Isleworth
                            Middx TW7 7QD
                        </address>
                    </li>
                </ul>
            </nav>
        </div>
        <ul class="social-wrap">
            <li><a href="#" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a href="#" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a href="#" target="_blank"><span class="fa fa-tripadvisor fa-4x"></span></a></li>
            <li><a href="#" target="_blank"><span class="icon-google-plus"></span></a></li>
            <li><a href="#" target="_blank"><span class="icon-youtube"></span></a></li>
            <li><a href="#" target="_blank"><span class="icon-instagram"></span></a></li>
        </ul>
    </div>
    <div class="footer-bottom ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"><strong class="copyright"><i class="fa fa-copyright"></i> <span
                    class="copyright_text"> Copyright 2016 - Entrada - An Adventure Theme - by Waituk </span></strong>
                </div>
                <div class="col-lg-6">
                    <ul class="payment-option">
                        <li class="first"><img
                            src="https://themes1-i0ipxhws.netdna-ssl.com/entrada-default/wp-content/uploads/sites/3/2016/04/visa-1-1.png"
                            alt="visa-1-1"></li>
                        <li class="second"><img
                            src="https://themes1-i0ipxhws.netdna-ssl.com/entrada-default/wp-content/uploads/sites/3/2016/04/mastercard-1-1.png"
                            alt="mastercard-1-1"></li>
                        <li class="third"><img
                            src="https://themes1-i0ipxhws.netdna-ssl.com/entrada-default/wp-content/uploads/sites/3/2016/04/paypal-1-1.png"
                            alt="paypal-1-1"></li>
                        <li class="fourth"><img
                            src="https://themes1-i0ipxhws.netdna-ssl.com/entrada-default/wp-content/uploads/sites/3/2016/04/maestro-1-1.png"
                            alt="maestro-1-1"></li>
                        <li class="fifth"><img
                            src="https://themes1-i0ipxhws.netdna-ssl.com/entrada-default/wp-content/uploads/sites/3/2016/04/bank-transfer-1-1.png"
                            alt="bank-transfer-1-1"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
