<div>
    <h2 id="page-heading">
        <span>Posts</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="list-group" *ngFor="let post of posts">
        <a [routerLink]="['/posts', post.id, 'view' ]" class="list-group-item list-group-item-action list-group-item-dark">{{post.postTitle}}</a>
    </div>


</div>


