<div class="container">
    <div class="row mb-3">
        <div class="col-md-6" *ngFor="let user of userInfos;let i = index">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{user.userLogin}}</h5>
                    <p class="card-text">{{user.description}}</p>
                    <p class="card-text">{{user.birthDay}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
