<main id="main">
    <!-- error information holder -->
    <div class="error-holder">
        <div class="container">
            <h1 class="wow zoomIn">ko</h1>
            <span class="title">Opps! You have reached the No Man's Land!</span>
            <div class="button-holder">
                <a href="u" class="btn btn-md btn-white">go to homepage</a>
                <a href="javascript:void(null);" onclick="history.go(-1);" class="btn btn-md btn-white">go to previous
                    page</a>
            </div>
        </div>
    </div>
</main>
