<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="trip">
            <h2><span>Trip</span> {{trip.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{trip.title}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{trip.description}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{trip.duration}}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{trip.size}}</span>
                </dd>
                <dt><span>Periode</span></dt>
                <dd>
                    <span>{{trip.periode}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{trip.createdAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{trip.updatedAt}}</span>
                </dd>
                <dt><span>Aprox Price</span></dt>
                <dd>
                    <span>{{trip.aproxPrice}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <span>{{trip.image}}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <div *ngIf="trip.countryId">
                        <a [routerLink]="['/country', trip.countryId, 'view']">{{trip.countryName}}</a>
                    </div>
                </dd>
                <dt><span>Categories</span></dt>
                <dd>
                    <span *ngFor="let categories of trip.categories; let last = last">
                        <a [routerLink]="['/category', categories?.id, 'view' ]">{{categories.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{trip.ownerLogin}}
                </dd>
                <dt><span>Users</span></dt>
                <dd>
                    <span *ngFor="let users of trip.users; let last = last">
                        {{users.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/trip', trip.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
