<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="advertisement">
            <h2><span>Advertisement</span> {{advertisement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Advertisement Title</span></dt>
                <dd>
                    <span>{{advertisement.advertisementTitle}}</span>
                </dd>
                <dt><span>Advertisement Image</span></dt>
                <dd>
                    <span>{{advertisement.advertisementImage}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <span>{{advertisement.owner}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{advertisement.createdAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{advertisement.updatedAt}}</span>
                </dd>
                <dt><span>Expiration Date</span></dt>
                <dd>
                    <span>{{advertisement.expirationDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/advertisement', advertisement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
