<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-trip-heading">Modifier un Voyage</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           [(ngModel)]="trip.title"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="trip.description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_duration">Duration</label>
                    <input type="text" class="form-control" name="duration" id="field_duration"
                           [(ngModel)]="trip.duration"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           [(ngModel)]="trip.size"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_aproxPrice">Aprox Price</label>
                    <input type="number" class="form-control" name="aproxPrice" id="field_aproxPrice"
                           [(ngModel)]="trip.aproxPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_image">Image</label>
                    <input type="text" class="form-control" name="image" id="field_image"
                           [(ngModel)]="trip.image"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" [(ngModel)]="trip.countryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id"
                                *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_categories">Categories</label>
                    <select class="form-control" id="field_categories" multiple name="categories"
                            [(ngModel)]="trip.categories">
                        <option [ngValue]="getSelected(trip.categories, categoryOption)"
                                *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
                    </select>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                            class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
